# Ignore sensitive environment variables
.env

# Ignore Python bytecode
*.pyc
__pycache__
venv/
.venv/

# Ignore dependencies directory
/deps

# Ignore build artifacts
dist/
build/

# Ignore coverage reports
.coverage
htmlcov/

# Ignore editor-specific files (add yours)
.vscode/
.idea/
*.swp
*.swo
