# Environments
.env
.venv
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Logs and Databases (Local Development)
*.log
data/
*.db



