pyrogram[listen]==2.0.* # Using listen feature for updates
python-telegram-bot==20.7
tgcrypto
pymongo[srv]>= 4.6 
python-dotenv
fuzzywuzzy[speedup]==0.18.* # Using speedup version for Levenshtein
python-Levenshtein
dnspython # For MongoDB Atlas
Pillow # Optional, if image processing is needed (e.g., welcome image resize)
requests # Sometimes needed for shortener APIs or external interactions
aiohttp==3.8.1
Flask==2.2.2
gunicorn==20.1.0
motor==3.3.2
